@model TraineeCourseResultViewModel
@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<div class="card" style="width:400px;color:@Model.Color">
    <img class="card-img-top" src="/Images/@Model.Image" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">@Model.TraineeName</h4>
        <p class="card-text">@Model.CourseName
        <br />
            @Model.Status
            <br />
            @Model.TraineeDegree
        
        </p>
      
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>
